<div class="topbar content has-text-centered is-vcentered columns">

  <div class="column is-4">
    <p id='phone'>01 46 87 33 47</p>
  </div>

  <div class="column is-4">
    <p id='title'>OHMYFOOD</p>
    <p id='subtitle'>BAR A SALADE - PIZZERIA</p>
  </div>

  <div class="column is-4">
    <span>{{userInfoObject['lastname']}}</span>
    <span>{{userInfoObject['firstname']}}</span>
    <span>{{userInfoObject['mail']}}</span>
    <p id='order'>COMMANDER</p>
    <span>Mon compte</span>
    <span><i class="fa fa-user fa-2x"></i></span>
  </div>

</div>

<div class='cont'>
  <ul class="navbar">
    <li><a href="#">Accueil</a></li>
    <li><a href="#">Menu</a></li>
    <li><a href="#">Livraison</a></li>
    <li><a href="#">Avis</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>