<div class="topbar content has-text-centered is-vcentered columns">

  <div class="column is-4">
    <p id='phone'>01 46 87 33 47</p>
  </div>

  <div class="column is-4">
    <p id='title'>OHMYFOOD</p>
    <p id='subtitle'>BAR A SALADE - PIZZERIA</p>
  </div>

  <div class="column is-4">
    <span>Bienvenue {{userInfoObject['lastname']}} </span>
    <span>{{userInfoObject['firstname']}}</span><br>
    <button
      class="button"
      (click)="logOut()"
      *ngIf="userInfoObject['lastname'] != ''"
    >
      DECONNEXION
    </button>
    <button
      class="button"
      *ngIf="userInfoObject['lastname'] == ''"
      [routerLink]="['/authClientPage']"
      routerLinkActive="router-link-active"
    >
      CONNEXION
    </button>
    <p
      id='order'
      (click)="checkIfUserLogged()"
    >
      COMMANDER
    </p>
    <span *ngIf="userInfoObject['lastname'] !== null">
      <a [routerLink]="['/userAccountPage']" routerLinkActive="router-link-active" >
        Mon compte<i class="fa fa-user fa-2x"></i>
      </a>
    </span>
    <span *ngIf="booleanAdminLogged === 1">* ADMIN *</span>
  </div>

</div>

<div class='cont'>
  <ul class="navbar">
    <li><a [routerLink]="['/homePage']"
      routerLinkActive="router-link-active">Accueil</a></li>

    <li><a [routerLink]="['/menuPage']"
      routerLinkActive="router-link-active">Menu</a></li>

    <li><a [routerLink]="['/']"
      routerLinkActive="router-link-active">Livraison</a></li>

    <li><a [routerLink]="['/contactPage']"
      routerLinkActive="router-link-active">Contact</a></li>
  </ul>
</div>
