<article class="message is-success">
  <div class="message-body">
      <h6>Contactez nous au 01 46 87 33 47</h6>
      <br/>
      <p>Vous pouvez appeler notre restaurant à tout moment : mardi au vendredi de 11h30 à 14h00 et du mardi au dimanche de 19h00 à 20h00.
          Nous mettons tout en oeuvre pour répondre à vos demandes en un temps record, qu'il s'agisse de votre commande,
          de la livraison à domicile ou au bureau, ou bien du paiement.
      </p>
      <br/>
      <p>Vous pouvez également nous contacter sur Facebook:
        <a href="https://www.facebook.com/Ohmyfood-1438113269653581/" target="_blank">
        @OhmyfoodVousRepond
        </a>
  </div>
</article>
