<div class="basket" [ngClass]="{basketToggle: isToggleBasket}">
  <a class="reverseText d-flex flex-column" (click)="displayToggleBasket($event)">
    <p>Récapitulatif de votre commande</p>
  </a>

  <div class="inlineBasket d-flex flex-row">
    <div class="headerBasket d-flex flex-row">
      <h2>MON PANIER</h2>

      <i class="fa fa-shopping-cart fa-3x"></i>
    </div>

    <div class="livrAndStatus d-flex flex-row">
      <ul>
        <li><input type="checkbox" name="ifLivraison"/></li>

        <li>En livraison</li>
      </ul>
      <p id="orderStatus">Statut de la commande : </p>
    </div>
    <form [formGroup]="finalOrderForm" (ngSubmit)="onSubmit()">
      <div formArrayName="pizza">
        <div [formGroupName]="i" *ngFor="let pizzas of pizza.controls; let i = index">
          <label for="pizzName-{{i}}">
            {{ pizzas.value.pizzName }}<span>{{ pizzas.value.pizzPriceTotal }} EUR</span>
          </label>

          <input type="number" name="pizzQuantity-{{i}}" formControlName="pizzQuantity" value="{{pizzas.value.pizzQuantity}}">
        </div>
      </div>

      <button type="submit">Valider votre panier</button>

      <button type="reset">Videz votre panier</button>
    </form>
  </div>
</div>
