.headerBasket {
    justify-content: center;
}

.livrAndStatus {
    justify-content: space-around;
    width: 100%;
}

#orderStatus {
    color: red;
}

p {
    text-align: center;
}

ul li {
    display: inline-block;
}