<div class="basket" [ngClass]="{basketToggle: isToggleBasket}">
  <a class="reverseText d-flex flex-column" (click)="displayToggleBasket($event)">
    <p>Récapitulatif de votre commande</p>
  </a>

  <div class="inlineBasket d-flex flex-row">
    <div class="headerBasket d-flex flex-row">
      <h2>MON PANIER</h2>

      <i class="fa fa-shopping-cart fa-3x"></i>
    </div>

    <div class="livrAndStatus d-flex flex-row">
      <ul>
        <li><input type="checkbox" name="ifLivraison"/></li>

        <li>En livraison</li>
      </ul>
      <p id="orderStatus">Statut de la commande : </p>
    </div>
    <form [formGroup]="finalOrderForm" (ngSubmit)="onSubmit()">
      <div formArrayName="pizza">
        <div [formGroupName]="i" *ngFor="let pizzas of pizza.controls; let i = index">
          <label for="pizzName-{{i}}">
            {{ pizzas.value.pizzasName }}<span>{{ pizzas.value.pizzasPriceTotal }} EUR</span>
          </label>

          <button
            class="button is-rounded is-outlined is-mobile is-small"
            name="add-pizzas-quantity"
            type="button"
            (click)="quantitySelect('-', i, pizzas.value.pizzasQuantity)">
              -
          </button>

          <input
            type="number"
            name="pizzasQuantity-{{i}}"
            formControlName="pizzasQuantity"
            value="{{pizzas.value.pizzasQuantity}}"/>

          <button
            class="button is-rounded is-outlined is-mobile is-small"
            name="add-pizzas-quantity"
            type="button"
            (click)="quantitySelect('+', i, pizzas.value.pizzasQuantity)">
              +
          </button>
        </div>
      </div>

      <button type="submit">Valider votre panier</button>

    </form>
  </div>
</div>
