<div class="basket" [ngClass]="{basketToggle: isToggleBasket}">
  <a class="reverseText d-flex flex-column" (click)="displayToggleBasket($event)">
    <p>Récapitulatif de votre commande</p>
  </a>

  <div class="inlineBasket d-flex flex-row">
    <div class="headerBasket d-flex flex-row">
      <h2>MON PANIER</h2>

      <i class="fa fa-shopping-cart fa-3x"></i>
    </div>

    <div class="livrAndStatus d-flex flex-row">
      <ul>
        <li><input type="checkbox" name="ifLivraison"/></li>

        <li>En livraison</li>
      </ul>
      <p id="orderStatus">Statut de la commande : </p>
    </div>
    <form [formGroup]="finalOrderForm" (ngSubmit)="onSubmit()">
      <div formArrayName="pizza">
        <div [formGroupName]="i" *ngFor="let pizzas of pizza.controls; let i = index">
          <label for="pizzName-{{i}}">
            {{ pizzas.value.pizzasName }}<span>{{ pizzas.value.pizzasPriceTotal }} EUR</span>
          </label>

          <button
            class="button is-rounded is-outlined is-mobile is-small"
            name="add-pizzas-quantity"
            type="button"
            (click)="quantitySelect('-', i, pizzas.value.pizzasQuantity, pizzas.value)">
              -
          </button>

          <input
            type="number"
            name="pizzasQuantity-{{i}}"
            formControlName="pizzasQuantity"
            value="{{pizzas.value.pizzasQuantity}}"/>

          <button
            class="button is-rounded is-outlined is-mobile is-small"
            name="add-pizzas-quantity"
            type="button"
            (click)="quantitySelect('+', i, pizzas.value.pizzasQuantity, pizzas.value)">
              +
          </button>
        </div>
      </div>

      <div formArrayName="salad">
        <div [formGroupName]="i" *ngFor="let salads of salad.controls ; let i = index">
          <label for="saladName-{{i}}">
            Votre salade composée<span>{{ salads.value.saladsComposedTotalPrice }}</span>
          </label>

          <button
            class="button is-rounded is-outlined is-mobile is-small"
            name="add-pizzas-quantity"
            type="button"
            (click)="quantitySelect('-', i, salads.value.saladsComposedQuantity, salads.value)">
              -
          </button>

          <input
            type="number"
            name="saladsComposedQuantity-{{i}}"
            formControlName="saladsComposedQuantity"
            value="{{salads.value.saladsComposedQuantity}}"/>

          <button
            class="button is-rounded is-outlined is-mobile is-small"
            name="add-pizzas-quantity"
            type="button"
            (click)="quantitySelect('+', i, salads.value.saladsComposedQuantity, salads.value)">
              +
          </button>

          <h5>Vos bases</h5>

          <div *ngFor="let bases of salads.value.multiBases">
            <p>
              {{ bases.basesName }}<span>{{ bases.basesPrice }} EUR</span>
            </p>
          </div>

          <h5>Vos ingrédients</h5>

          <div *ngFor="let ingredients of salads.value.multiIngredients">
            <p>
              {{ ingredients.ingredientsName}}<span>{{ ingredients.ingredientsPrice }} EUR</span>
            </p>
          </div>

          <h5>Vos toppings</h5>

          <div *ngFor="let toppings of salads.value.multiToppings">
            <p>
              {{ toppings.toppingsName}}<span>{{ toppings.toppingsPrice }} EUR</span>
            </p>
          </div>

          <h5>Votre sauce</h5>

          <p>{{ salads.value.multiSauces[0].saucesName }}</p>
        </div>
      </div>

      <div formArrayName="beverage">
        <div [formGroupName]="i" *ngFor="let beverages of beverage.controls; let i = index">
          <label for="bevName-{{i}}">
            {{ beverages.value.bevName }}<span>{{ beverages.value.bevPriceTotal }} EUR</span>
          </label>

          <button
            class="button is-rounded is-outlined is-mobile is-small"
            name="add-beverage-quantity"
            type="button"
            (click)="quantitySelect('-', i, beverages.value.bevQuantity, beverages.value)">
              -
          </button>

          <input
            type="number"
            name="beveragesQuantity-{{i}}"
            formControlName="bevQuantity"
            value="{{beverages.value.bevQuantity}}"/>

          <button
            class="button is-rounded is-outlined is-mobile is-small"
            name="add-beverages-quantity"
            type="button"
            (click)="quantitySelect('+', i, beverages.value.bevQuantity, beverages.value)">
              +
          </button>
        </div>
      </div>

      <div formArrayName="dessert">
        <div [formGroupName]="i" *ngFor="let desserts of dessert.controls; let i = index">
          <label for="bevName-{{i}}">
            {{ desserts.value.dessName }}<span>{{ desserts.value.dessPriceTotal }} EUR</span>
          </label>

          <button
            class="button is-rounded is-outlined is-mobile is-small"
            name="add-dessert-quantity"
            type="button"
            (click)="quantitySelect('-', i, desserts.value.dessQuantity, desserts.value)">
              -
          </button>

          <input
            type="number"
            name="dessertsQuantity-{{i}}"
            formControlName="dessQuantity"
            value="{{desserts.value.dessQuantity}}"/>

          <button
            class="button is-rounded is-outlined is-mobile is-small"
            name="add-desserts-quantity"
            type="button"
            (click)="quantitySelect('+', i, desserts.value.dessQuantity, desserts.value)">
              +
          </button>
        </div>
      </div>

      <button type="submit" [disabled]="!enableSubmit">Validez votre panier</button>

      <button type="button" (click)="resetBasket()">Videz votre panier</button>
    </form>

    <p>
      TOTAL de votre commande {{ total }} EUR
    </p>
  </div>
</div>
