@import '../../../styles/colors.scss';

.basket {
    width: 100vw;
    height: 100vh;
    background: $green;
    color: white;
    position: fixed;
    top: 0;
    right: -95vw;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 30;
    transition-duration: .5s;
}

.basket::before {
    content: "";
    position: absolute;
    right: 100%;
    top: calc( 50% - 300px );
    width: 0;
    height: 0;
	border-top:  300px solid transparent;
	border-right: 40px solid $green;
	border-bottom: 300px solid transparent;
}

.basket::after {
    border-top:  320px solid transparent;
	border-right: 45px solid white;
	border-bottom: 320px solid transparent;
    content: "";
    position: absolute;
    right: 100%;
    top: calc( 50% - 320px );
    width: 0;
    height: 0;
    z-index: -1;
}

.headerBasket {
    justify-content: center;
}

.inlineBasket {
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 10px;
}

.livrAndStatus {
    justify-content: space-around;
    width: 100%;
}

#orderStatus {
    color: red;
}

p {
    text-align: center;
}

.reverseText {
    border-right: 1px solid white;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    justify-content: center;
    height: 100vh;
    text-orientation: upright;
    width: 10%;
    writing-mode: vertical-rl;
}

ul li {
    display: inline-block;
}

@media screen and (min-width: 720px) {
    .basket {
        width: 60vw;
        right: -57vw;
    }

    .reverseText {
        font-size: 1em;
    }
}

@media screen and (min-width: 928px) {
    .basket {
        width: 40vw;
        right: -38vw;
    }
}

.basketToggle {
    right: 0;
}
