<footer class="footer">
  <div class="content has-text-centered columns">
    <div class="column is-3">
      <p id="title">OHMYFOOD</p>
      <p>BAR A SALADE - PIZZERIA</p>
      <p>01 46 87 33 47</p>
      <p>RUE DE L'ABREUVOIR - 94150 RUNGIS</p>
    </div>
    <div class="column is-3">
      <p>LE MIDI</p>
      <p>DU MARDI AU VENDREDI</p>
      <p>DE 11H30 A 14H00</p>
    </div>
    <div class="column is-3">
      <p>LE SOIR</p>
      <p>DU MARDI AU DIMANCHE</p>
      <p>DE 19H00 A 20H00</p>
    </div>
    <div class="column is-3">
      <i class="fa fa-instagram fa-3x"></i>
      <i class="fa fa-twitter fa-3x"></i>
      <i class="fa fa-facebook fa-3x"></i>
    </div>
  </div>
</footer>
