.buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px 50px;

    .button {
        font-size: 2rem;
        margin: 0 20px;
        padding: 6px 35px;
    }
}

.carousel {
    height: 300px;
    overflow: hidden;
}

h2 {
    font-size: 3rem;
    margin: 8vh 0;
    text-align: center;
}