@import '../../../styles/colors.scss';
// @import'../../../styles/reset.scss';

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: $anthracite;
    box-shadow: 0px 10px 10px 0px rgba(194,245,177,1);
}
  
div.navbar-start {
    width: 33.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

a.navbar-item {
    color: $white;
    width: 33.3vw;
    justify-content: center;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-right: 2%;
    padding-left: 4%;
}

div.navbar-start.columns {
    padding-top: 0;
}

div.navbar-end {
    width: 33.3vw;
    display: inline-block;
}

div.has-dropdown {
    background: $anthracite;
}
  
img.logo {
    float: right;
}

div.basket.column.is-8 {
    float: left;
    padding-bottom: 1%;
    padding-right: 0;
    padding-top: 0;
}

div.order.column.is-4 {
    padding-bottom: 1%;
    padding-left: 1%;
    padding-top: 0;
}

div.account.column.is-8 {
    padding-bottom: 1%;
    padding-right: 0;
    padding-top: 0;
}

div.logo.column.is-4 {
    display: flex;
    float: left;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 2%;
    padding-left: 2%;
}

div.top-buttons {
    float: left;
}

a.button.is-light {
    float: right;
}

a.button.is-primary {
    background: $green;
    float: left;
}

a.my-account {
    float: right;
}

a.navbar-item.first.column.is-12 {
    padding-top: 2%;
}

a.navbar-link {
    color: $white;
}
  /* Mobile Version + Media Queries */
  
.navbar-burger {
    color: $white;
}
  
a:hover {
    color: $white;
    h1 {
        color: black;
    }
}
  
@media screen and (max-width: 1087px){
    .navbar-menu {
        background-color: $anthracite;
    }
}