<form [formGroup]="newPsswForm">
  <label>
    <p>Nouveau mot de passe</p>
    <input 
      type="{{ psswType }}" 
      formControlName="firstPssw"
      required
    />
    <a *ngIf="show" (click)="showPssw($event)"><i class="fa fa-eye"></i></a>
    <a *ngIf="!show" (click)="showPssw($event)"><i class="fa fa-eye-slash"></i></a>
  </label>
  <div *ngIf="fNP.firstPssw.invalid && (fNP.firstPssw.dirty || fNP.firstPssw.touched)">
    <div *ngIf="fNP.firstPssw.errors.required">
      <p class="invalidText">*Votre mot de passe est requis</p>
    </div>
    <div *ngIf="fNP.firstPssw.errors.minlength">
      <p class="invalidText">*Votre mot de passe doit au moins se composer de 7 caractères</p>
    </div>
    <div *ngIf="fNP.firstPssw.errors.maxlength">
      <p class="invalidText">*Votre mot de passe ne doit pas excéder 15 caractères</p>
    </div>
  </div>
  <label>
    <p>Confirmer le mot de passe</p>
    <input 
      type="{{ psswType }}" 
      formControlName="secondPssw"
      required
    />
    <a *ngIf="show" (click)="showPssw($event)"><i class="fa fa-eye"></i></a>
    <a *ngIf="!show" (click)="showPssw($event)"><i class="fa fa-eye-slash"></i></a>
  </label>
  <div *ngIf="fNP.secondPssw.invalid && (fNP.secondPssw.dirty || fNP.secondPssw.touched)">
    <div *ngIf="fNP.secondPssw.errors.required">
      <p class="invalidText">*Votre mot de passe est requis</p>
    </div>
    <div *ngIf="fNP.secondPssw.errors.minlength">
      <p class="invalidText">*Votre mot de passe doit au moins se composer de 7 caractères</p>
    </div>
    <div *ngIf="fNP.secondPssw.errors.maxlength">
      <p class="invalidText">*Votre mot de passe ne doit pas excéder 15 caractères</p>
    </div>
  </div>
  <button 
    type="submit" 
    (click)='onSubmit()'
  >
    MODIFIER MON MOT DE PASSE
  </button>
</form>