<ul>
  <li>
    <button
      [ngClass]="{currentPage: forms}"
      class="submitButton button is-rounded is-outlined"
      type="button"
      (click)="changeComponent('forms')"
    >
      Mettre à jour les menus
    </button>
  </li>

  <li>
    <button
      [ngClass]="{currentPage: ordersDetails}"
      class="submitButton button is-rounded is-outlined"
      type="button"
      (click)="changeComponent('ordersDetails')"
    >
      Voir les commandes en cours
    </button>
  </li>

  <li>
      <button
        [ngClass]="{currentPage: ordersArchived}"
        class="submitButton button is-rounded is-outlined"
        type="button"
        (click)="changeComponent('ordersArchived')"
      >
        Voir les commandes archivées
      </button>
  </li>
</ul>

<div *ngIf="forms">
  <div class="borders">
    <app-pizzas-form-admin></app-pizzas-form-admin>

    <app-beverages-form-admin></app-beverages-form-admin>

    <app-desserts-form-admin></app-desserts-form-admin>

    <app-salad-base-form-admin></app-salad-base-form-admin>

    <app-salad-ingredients-form-admin></app-salad-ingredients-form-admin>

    <app-salad-toppings-form-admin></app-salad-toppings-form-admin>

    <app-salad-sauces-form-admin></app-salad-sauces-form-admin>

    <app-tax-form-admin></app-tax-form-admin>
  </div>
</div>

<app-details-orders-admin *ngIf="ordersDetails"></app-details-orders-admin>

<app-details-orders-archived-admin *ngIf="ordersArchived"></app-details-orders-archived-admin>
