@import "../../../styles/colors";

.classButton {
    justify-content: space-around;
    width: 100%;
}

.column {
    a {
        align-items: center;
        background-color: $green;
        border: 1px solid #eee;
        font-size: 2rem;
        height: 12vh;
        padding: 0 50px;
        text-align: center;
        width: 100%;
    }
}

.columns {
    width: 100%;
}

.cont {
    flex-wrap: wrap;
    align-content: center;
}

h2 {
    text-align: center;
    width: 100%;
}

img, p {
    display: flex;
    flex-direction: row;
}

img {
    justify-content: center;
    width: 100%;
}

img {
    display: block;
    text-align: center;
    margin: 10px 20px;
}

.livrAndStatus {
    justify-content: space-around;
    width: 100%;
}

#orderStatus {
    color: red;
}

ul, li, p {
    display: inline-block;
    font-size: 2rem;
}

ul, p {
    display: inline-block;
}