@import '../../../styles/colors.scss';


/* Main part of the ribbon */
a {
  text-decoration: none;
  color: black;

  &:hover{
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
}
.saladsTitle {
  text-align: center;
  background-image: url('../../../assets/img/RibbonOhMyFoodEmpty.svg'),  url('../../../assets/img/RibbonOhMyFoodNormal.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: 97% 90%, 100% 100%;
  width: 571px;
  padding: 29px;
  margin: auto;
}
.button {
  border: solid 1px $green;
  margin: 0 auto;
  width: 80px;
  height: 25px;
  position: relative;
  transition-duration: 500ms;
  text-align: center;
  float: initial;

  &:hover {
    background: $green;
    color: whitesmoke;
  }
}

.header {
  text-align: center;
  transition: box-shadow .3s;
  float: none;

  &:hover {
    box-shadow: 0 0 50px rgba(33,33,33,.2);
  }
}
h1.header {
  font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }

.notToggle {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition-duration: 1000ms;
}

section {
  margin: 0 auto;
  width: 50vw;
}

.toggle {
  margin: 5vh auto;
  max-height: 2500px;
}

.notToggleBase {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition-duration: 1000ms;
}

.toggleBase {
  margin: 6vh auto;
  max-height: 500px;
}

.notToggleIngredients {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition-duration: 1000ms;
}

.toggleIngredients {
  margin: 6vh auto;
  max-height: 1700px;
}
.notToggleToppings{
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition-duration: 1000ms;
}

.toggleToppings {
  margin: 6vh auto;
  max-height: 1500px;
}
.notToggleSauce {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition-duration: 1000ms;
}

.toggleSauce {
  margin: 6vh auto;
  max-height: 1500px;
}


input {
  width: 5vw;
  text-align: center;
}
