<section>
  <a href (click)="($event)">
  <h1 class="IngredientsTitle">
    Ingredients
  </h1>
  <p>
      Cliquez pour découvrir nos desserts
    </p>
  </a>
          <h3>
          Nos Desserts<span>Prix</span>
        </h3>

        <h3 class="quantity">Quantités</h3>

    <form [formGroup]="saladsIngredientsForm"
(ngSubmit)='onSubmit()'
>
  <div *ngFor="let base of saladsIngredientsFormTable; let i = index">
    <label for="selectIngredients-{{ i }}">

      <input
      formControlName="selectIngredients"
      type="checkbox"
      [value]="base.saladsIngredientsName"
      id="selectIngredients-{{ i }}"

      >
        {{ base.saladsIngredientsName }}
        {{ base.saladsIngredientsPriceHt}}
    </label>
<div class='buttonQuantity'>
<button
class="button is-rounded is-outlined is-mobile is-small"
name="remove-dessert-quantity"
type="button"
(click)="quantitySelect('-',i, base.desQuantity)"
>
-
</button>

<input
type="number"
class="input is-mobile is-small"
[(ngModel)]="base.desQuantity"
>

<button
class="button is-rounded is-outlined is-mobile is-small"
name="add-dessert-quantity"
(click)="quantitySelect('+',i, base.desQuantity)"
>

+
</button>
</div>
  </div>
  <button
  type='submit'

  >
    Ajouter
  </button>
</form>

</section>
