  <form [formGroup]="menusPriceFormPut">
      <label>
        <p>menu à modifier</p>
        <input type="text" 
          class="form-control" 
          formControlName="menuPrice" 
          required
        >
        <div *ngIf="fD.menuPrice.errors.required">
          <p class="invalidText">*Le nom du menu dois être 'menuPizzPrice' ou 'menuSaladPriceOr' ou 'menuSaladPriceAnd'</p>
        </div>
      </label>
  </form>
  <button type="submit" (click)="onSubmitPutForm()">MODIFIER LE MENU</button>

<p> menuPizzPrice {{ menuPizzPrice }} EUR</p>
<p> menuSaladPriceOr {{ menuSaladPriceOr }} EUR</p>
<p> menuSaladPriceAnd {{ menuSaladPriceAnd }} EUR</p>

