<p>Quelle action voulez-vous réaliser ?</p>
<form [formGroup]="formCheck">
  <label *ngFor="let action of actions; let i = index">
    <input type="radio" 
      value="{{ action }}"
      name="sauceAction"
      formControlName="sauceAction"
    >
      {{ action }}
  </label>
</form>
<div *ngIf="formCheck.value.sauceAction === 'Ajouter'">
  <form [formGroup]="sauceFormAdd">
<!--Adding form-->
    <label>
    <p>Nom de la sauce à ajouter</p>
    <input type="text" 
      class="form-control" 
      formControlName="saucesName" 
      required
    >
    <div *ngIf="fA.saucesName.invalid && (fA.saucesName.dirty || fA.saucesName.touched)">
      <div *ngIf="fA.saucesName.errors.required">
        <p class="invalidText">*Le nom de la sauce est requis</p>
      </div>
      <div *ngIf="fA.saucesName.errors.minlength">
        <p class="invalidText">*Le nom de la sauce doit contenir au moins 4 caractères</p>
      </div>
      <div *ngIf="fA.saucesName.errors.maxlength">
        <p class="invalidText">*Le nom de la sauce ne doit pas dépasser les 45 caractères</p>
      </div>
    </div>
    </label>

  </form>
  <button type="submit" (click)="onSubmitAddForm()">AJOUTER LA SAUCE</button>
</div>

  <!--Modifier form-->
<div *ngIf="formCheck.value.sauceAction === 'Modifier'">
  <form [formGroup]="sauceFormPut">
      <label>
      <p>Nom de la sauce à modifier</p>
      <input type="text" 
        class="form-control" 
        formControlName="saucesName" 
        required
      >
      </label>
      <label>
        <p>Nouveau nom de la sauce ?</p>
        <input type="text" 
          class="form-control" 
          formControlName="saucesNewName" 
        >
        </label>
        <label>
          <p>Prix hors taxe</p>
          <input type="text" 
            class="form-control" 
            formControlName="saucesPriceHt"
          >
        </label>

  </form>
  <button type="submit" (click)="onSubmitPutForm()">MODIFIER LA SAUCE</button>
</div>

  <!--Delete form-->
<div *ngIf="formCheck.value.sauceAction === 'Retirer'">
  <form [formGroup]="sauceFormDel">
      <label>
        <p>Nom de la sauce à Supprimer</p>
        <input type="text" 
          class="form-control" 
          formControlName="saucesName" 
          required
        >
        <div *ngIf="fD.saucesName.invalid && (fD.saucesName.dirty || fD.saucesName.touched)">
          <div *ngIf="fD.saucesName.errors.required">
            <p class="invalidText">*Le nom de la sauce est requis</p>
          </div>
          <div *ngIf="fD.saucesName.errors.minlength">
            <p class="invalidText">*Le nom de la sauce doit contenir au moins 4 caractères</p>
          </div>
          <div *ngIf="fD.saucesName.errors.maxlength">
            <p class="invalidText">*Le nom de la sauce ne doit pas dépasser les 45 caractères</p>
          </div>
        </div>
      </label>
    <button type="submit" (click)="onSubmitDelForm()">SUPPRIMER LA SAUCE</button>
  </form>
</div>

<p *ngFor="let dataSauce of sauceDataObject; let i = index;">{{ dataSauce.saladsSaucesName }}</p>
