<section>
  <a href (click)="toggleFormSalads($event)">
    <h1 class="saladsTitle">
      SALADS COMPOSEE
    </h1>

    <p>
      Cliquez pour découvrir nos ingredients de salade
    </p>
  </a>

  <div class="notToggle" [ngClass]="{toggle: isToggle}">

    <form [formGroup]="formSalads" (ngSubmit)="formSalads.valid && onSubmit()" #saladsForm=ngForm>
      <h1>Sélectionner votre base</h1>

      <div formArrayName="selectBase">
        <div
          class="formLine"
          [formGroupName]="i"
          *ngFor="let base of selectBase.controls ; let i = index">

            <label for="selectBase-{{ i }}">
              {{ base.value.saladsBaseName }}<span>{{ base.value.saladsBasePriceTTC }} EUR</span>
            </label>

           <input
           type="checkbox"
           formControlName="saladsBaseQuantity"
           name="selectBase-{{ i }}"
           id="selectBase-{{ i }}">
        </div>

        <div *ngIf="saladsForm.submitted && selectBase.errors">
          <p>{{selectBase.errors['tooMuchBase']}}</p>
        </div>
      </div>

      <h1>Sélectionner vos ingredients</h1>

      <div formArrayName="selectIngredients">
        <div
          class="formLine"
          [formGroupName]="i"
          *ngFor="let ingredients of selectIngredients.controls ; let i = index">

            <label for="selectIngredients-{{ i }}">
              {{ ingredients.value.saladsIngredientsName }}<span>{{ ingredients.value.saladsIngredientsPriceTTC }} EUR</span>
            </label>

            <div class="buttonQuantity">
              <button
                class="button is-rounded is-outlined is-mobile is-small"
                name="remove-saladsIngredients-quantity"
                type="button"
                (click)="quantitySelect('-', i, ingredients['controls'].saladsIngredientsQuantity.value, ingredients)">
                  -
              </button>

              <input
                type="number"
                formControlName='saladsIngredientsQuantity'
                name='selectIngredients-{{ i }}'
                value="{{ ingredients['controls'].saladsIngredientsQuantity.value }}">

              <button
                class="button is-rounded is-outlined is-mobile is-small"
                name="remove-saladsIngredients-quantity"
                type="button"
                (click)="quantitySelect('+', i, ingredients['controls'].saladsIngredientsQuantity.value, ingredients)">
                  +
                </button>
            </div>
        </div>

        <div *ngIf="saladsForm.submitted && selectIngredients.errors">
            <p>{{selectIngredients.errors['isRequired']}}</p>
        </div>
      </div>

      <h1>Sélectionner vos toppings</h1>

      <div formArrayName="selectToppings">
        <div
          class="formLine"
          [formGroupName]="i"
          *ngFor="let toppings of selectToppings.controls ; let i = index">

            <label for="selectToppings-{{ i }}">
              {{ toppings.value.saladsToppingsName }}<span>{{ toppings.value.saladsToppingsPriceTTC }} EUR</span>
            </label>

            <div class="buttonQuantity">
              <button
                class="button is-rounded is-outlined is-mobile is-small"
                name="remove-saladsToppings-quantity"
                type="button"
                (click)="quantitySelect('-', i, toppings['controls'].saladsToppingsQuantity.value, toppings)">
                  -
              </button>

              <input
                type="number"
                formControlName='saladsToppingsQuantity'
                name='selectToppings-{{ i }}'
                value="{{ toppings['controls'].saladsToppingsQuantity.value }}">

              <button
                class="button is-rounded is-outlined is-mobile is-small"
                name="remove-saladsToppings-quantity"
                type="button"
                (click)="quantitySelect('+', i, toppings['controls'].saladsToppingsQuantity.value, toppings)">
                  +
                </button>
            </div>
        </div>

        <p *ngIf="displayToppingsMessage">Attention, vous n'avez pas séléctionné de toppings</p>
      </div>

      <h1>Sélectionner votre sauce</h1>

      <div formArrayName="selectSauces">
        <div
          class="formLine"
          [formGroupName]="i"
          *ngFor="let sauces of selectSauces.controls ; let i = index">

            <label for="saladsSaucesQuantity-{{ i }}">
              {{ sauces.value.saladsSaucesName }}
            </label>

              <input
                type="radio"
                formControlName='saladsSaucesQuantity'
                name='saladsSaucesQuantity'
                id="saladsSaucesQuantity-{{ i }}"
                value="{{sauces.value.saladsSaucesName}}"
                (ngModelChange)="getSauce(i, saladsForm.submitted)">

        </div>

        <p *ngIf="displaySaucesMessage">Attention, vous n'avez pas séléctionné de sauces</p>

        <button type="button" (click)="resetSauces()">Supprimer la sauce</button>
      </div>

      <button *ngIf="!menu" type='submit'> Ajouter au panier </button>

      <button *ngIf="menu" type='submit'>Ajouter cette salade à votre menu</button>
    </form>
  </div>
</section>
