<form [formGroup]="authCreateAddressForm">
  <p>Veuillez également enregistrer vos coordonnées</p>
  <label>
    <p>Adresse 1</p>
    <input 
      type="text" 
      placeholder="Adresse 1"
      formControlName="address1"
      required
    >
  </label>
  <div *ngIf="fCA.address1.invalid && (fCA.address1.dirty || fCA.address1.touched)">
    <div *ngIf="fCA.address1.errors.required">
      <p class="invalidText">*Votre nom est requis</p>
    </div>
    <div *ngIf="fCA.address1.errors.minlength">
      <p class="invalidText">*Votre nom doit contenir au moins 4 caractères</p>
    </div>
    <div *ngIf="fCA.address1.errors.maxlength">
      <p class="invalidText">*Votre nom ne doit pas dépasser les 45 caractères</p>
    </div>
  </div>
  <label>
    <p>Adresse 2</p>
    <input 
      type="text" 
      placeholder="Adresse 2"
      formControlName="address2"
      required
    >
  </label>
  <div *ngIf="fCA.address2.invalid && (fCA.address2.dirty || fCA.address2.touched)">
    <div *ngIf="fCA.address2.errors.required">
      <p class="invalidText">*Votre prénom est requis</p>
    </div>
    <div *ngIf="fCA.address2.errors.minlength">
      <p class="invalidText">*Votre prénom doit contenir au moins 4 caractères</p>
    </div>
    <div *ngIf="fCA.address2.errors.maxlength">
      <p class="invalidText">*Votre prénom ne doit pas dépasser les 45 caractères</p>
    </div>
  </div>
  <label>
    <p>Code Postal</p>
    <input 
      type="text" 
      placeholder="Code postal"
      formControlName="zipcode"
      required
    >
  </label>
  <div *ngIf="fCA.zipcode.invalid && (fCA.zipcode.dirty || fCA.zipcode.touched)">
    <div *ngIf="fCA.zipcode.errors.required">
      <p class="invalidText">*Votre zipcode est requis</p>
    </div>
    <div *ngIf="fCA.zipcode.errors.pattern">
      <p class="invalidText">*Votre e-mail doit être de la forme xxx@xxx.xxx</p>
    </div>
    <div *ngIf="fCA.zipcode.errors.minlength">
      <p class="invalidText">*Votre e-mail doit contenir au moins 4 caractères</p>
    </div>
  </div>
  <label>
    <p>Ville</p>
    <input 
      type="text" 
      placeholder="Ville"
      formControlName="city"
      required
    >
  </label>
  <div *ngIf="fCA.city.invalid && (fCA.city.dirty || fCA.city.touched)">
    <div *ngIf="fCA.city.errors.required">
      <p class="invalidText">*Votre prénom est requis</p>
    </div>
    <div *ngIf="fCA.city.errors.minlength">
      <p class="invalidText">*Votre télécity doit se composer de 10 chiffres</p>
    </div>
    <div *ngIf="fCA.city.errors.maxlength">
      <p class="invalidText">*Votre télécity doit se composer de 10 chiffres</p>
    </div>
    <div *ngIf="fCA.city.errors.pattern">
      <p class="invalidText">*Votre télécity ne doit comporter que des chiffres</p>
    </div>
  </div>
  <label>
    <p>Adresse de facturation</p>
    <input 
      type="text" 
      placeholder="Adresse de facturation"
      formControlName="userFacturation"
      required
    >
  </label>
  <div *ngIf="fCA.userFacturation.invalid && (fCA.userFacturation.dirty || fCA.userFacturation.touched)">
    <div *ngIf="fCA.userFacturation.errors.required">
      <p class="invalidText">*Votre mot de passe est requis</p>
    </div>
    <div *ngIf="fCA.userFacturation.errors.minlength">
      <p class="invalidText">*Votre mot de passe doit au moins se composer de 7 caractères</p>
    </div>
    <div *ngIf="fCA.userFacturation.errors.maxlength">
      <p class="invalidText">*Votre mot de passe ne doit pas excéder 15 caractères</p>
    </div>
  </div>
  <button type="submit" (click)="onSubmitCreateClientForm()">Ok</button>
</form>