<section>
  <a href (click)="toggleFormSalads($event)">
    <h1 class="saladsTitle">
      SALADS COMPOSEE
    </h1>

    <p>
      Cliquez pour découvrir nos ingredients de salade
    </p>
  </a>

  <div class="notToggle" [ngClass]="{toggle: isToggle}">
    <div class="header">
      <h3 class="salads">
        Nos Desserts<span>Prix</span>
      </h3>
      <h3 class="quantity">Quantités</h3>
    </div>

    <form [formGroup]="saladsFormTable" (ngSubmit)="saladsFormTable.valid && onSubmit()">
      <div formArrayName="selectBase">
        <div
          class="formLine"
          [formGroupName]="i"
          *ngFor="let base of selectBase.controls ; let i = index">

            <label for="selectBase-{{ i }}">
              {{ base.value.saladsBaseName }}<span>{{ base.value.saladsBasePriceTTC }} EUR</span>
            </label>

           <input
           type="checkbox"
           formControlName='saladsBaseQuantity' name='selectBase-{{ i }}'
           >
        </div>
        <div *ngIf="selectBase.errors">
          <p>{{selectBase.errors['tooMuchBase']}}</p>
        </div>
      </div>
      <button type='submit'> AjoutER </button>
  </form>
</div>
