<section>
  <a href (click)="toggleFormSalads($event)">
    <h1 class="saladsTitle">
      SALADS COMPOSEE
    </h1>

    <p>
      Cliquez pour découvrir nos ingredients de salade
    </p>
  </a>

  <div class="notToggle" [ngClass]="{toggle: isToggle}">
    <div class="header">
      <h3 class="salads">
        Base<span>Prix</span>
      </h3>
      <h3 class="quantity">Quantités</h3>
    </div>

    <form [formGroup]="saladsFormTable" (ngSubmit)="saladsFormTable.valid && onSubmit()">
      <div formArrayName="selectBase">
        <div
          class="formLine"
          [formGroupName]="i"
          *ngFor="let base of selectBase.controls ; let i = index">

            <label for="selectBase-{{ i }}">
              {{ base.value.saladsBaseName }}<span>{{ base.value.saladsBasePriceTTC }} EUR</span>
            </label>

           <input
           type="checkbox"
           formControlName='saladsBaseQuantity' name='selectBase-{{ i }}'
           >
        </div>
        <div *ngIf="selectBase.errors">
          <p>{{selectBase.errors['tooMuchBase']}}</p>
        </div>
      </div>
      <br/>

      <div formArrayName="selectIngredients">
        <div
          class="formLine"
          [formGroupName]="i"
          *ngFor="let ingredients of selectIngredients.controls ; let i = index"
        >
        <label for="selectIngredients-{{ i }}">
          {{ ingredients.value.saladsIngredientsName}} <span>{{ ingredients.value.saladsIngredientsPriceTTC }} EUR</span>
        </label>
          <div class="buttonQuantity">
            <button
              class="button is-rounded is-outlined is-mobile is-small"
              name="remove-ingredients-quantity"
              type="button"
              (click)="quantitySelect('-', i, ingredients.value.saladsIngredientsQuantity)">
                -
            </button>
            <input
              class="input is-mobile is-small"
              name="selectIngredients-{{ i }}"
              formControlName="saladsIngredientsQuantity"
              type="number"
              value="{{ ingredients.value.saladsIngredientsQuantity }}"
            >
            <button
              class="button is-rounded is-outlined is-mobile is-small"
              name="add-ingredients-quantity"
              type="button"
              (click)="quantitySelect('+', i, ingredients.value.saladsIngredientsQuantity)">
                +
            </button>
          </div>
        </div>
      </div>
      <br/>

      <p>Toppingss</p>

      <div formArrayName="selectToppings">
        <div
          class="formLine"
          [formGroupName]="i"
          *ngFor="let toppings of selectToppings.controls ; let i = index"
        >
        <label for="selectToppings-{{ i }}">
          {{ toppings.value.saladsToppingsName}} <span>{{ toppings.value.saladsToppingsPriceTTC }} EUR</span>
        </label>
          <div class="buttonQuantity">
            <button
              class="button is-rounded is-outlined is-mobile is-small"
              name="remove-toppings-quantity"
              type="button"
              (click)="quantitySelect('-', i, toppings.value.saladsToppingsQuantity)">
                -
            </button>
            <input
              class="input is-mobile is-small"
              name="selectToppings-{{ i }}"
              formControlName="saladsToppingsQuantity"
              type="number"
              value="{{ toppings.value.saladsToppingsQuantity }}"
            >
            <button
              class="button is-rounded is-outlined is-mobile is-small"
              name="add-toppings-quantity"
              type="button"
              (click)="quantitySelect('+', i, toppings.value.saladsToppingsQuantity)">
                +
            </button>
          </div>
        </div>
      </div>
      <br/>

      <div formArrayName="selectSauces">
        <div
          class="formLine"
          [formGroupName]="i"
          *ngFor="let sauce of selectSauces.controls ; let i = index"
        >
          <label for="selectSauces-{{ i }}">
            {{ sauce.value.saladsSaucesName}}
          </label>

      </div>
    </div>
    <button type='submit'>Ajouter</button>
  </form>
</div>




