<section>
  <a href (click)="toggleFormSalads($event)">
    <h1 class="saladsTitle">
      SALADS COMPOSEE
    </h1>

    <p>
      Cliquez pour découvrir nos ingredients de salade
    </p>
  </a>

  <div class="notToggle" [ngClass]="{toggle: isToggle}">

    <form [formGroup]="saladsFormTable" (ngSubmit)="saladsFormTable.valid && onSubmit()">
      <h1>Sélectionner votre base</h1>

      <div formArrayName="selectBase">
        <div
          class="formLine"
          [formGroupName]="i"
          *ngFor="let base of selectBase.controls ; let i = index">

            <label for="selectBase-{{ i }}">
              {{ base.value.saladsBaseName }}<span>{{ base.value.saladsBasePriceTTC }} EUR</span>
            </label>

           <input
           type="checkbox"
           formControlName='saladsBaseQuantity' name='selectBase-{{ i }}'
           >
        </div>
        <div *ngIf="selectBase.errors">
          <p>{{selectBase.errors['tooMuchBase']}}</p>
        </div>
      </div>

      <h1>Sélectionner vos ingredients</h1>

      <div formArrayName="selectIngredients">
        <div
          class="formLine"
          [formGroupName]="i"
          *ngFor="let ingredients of selectIngredients.controls ; let i = index">

            <label for="selectBase-{{ i }}">
              {{ ingredients.value.saladsIngredientsName }}<span>{{ ingredients.value.saladsIngredientsPriceTTC }} EUR</span>
            </label>

            <div class="buttonQuantity">
              <button
                class="button is-rounded is-outlined is-mobile is-small"
                name="remove-saladsIngredients-quantity"
                type="button"
                (click)="quantitySelect('-', i, ingredients.value.saladsIngredientsQuantity)">
                  -
              </button>

              <input
                type="number"
                formControlName='saladsIngredientsQuantity' name='selectIngredients-{{ i }}' value="{{ingredients.value.saladsIngredientsQuantity}}">

              <button
                class="button is-rounded is-outlined is-mobile is-small"
                name="remove-saladsIngredients-quantity"
                type="button"
                (click)="quantitySelect('+', i, ingredients.value.saladsIngredientsQuantity)">
                  +
                </button>
            </div>
        </div>
      </div>

      <button type='submit'> Ajouter au panier </button>
  </form>


</div>
