<form
  [formGroup]="orderStatusForm"
>
  <label for="delivery">livraison</label>

  <input
    type="radio"
    id="delivery"
    value="livraison"
    formControlName="orderStatus"
    name="orderStatus"
    (ngModelChange)="getOrderStatus('delivery')"
  />

  <label for="toTakeAway">À emporter</label>

  <input
    type="radio"
    id="toTakeAway"
    value="À emporter"
    name="orderStatus"
    formControlName="orderStatus"
    (ngModelChange)="getOrderStatus('toTakeAway')"
  />
</form>

<app-pizzas-form
  (getDay)="onGetDay($event)"
  (getControls)="onGetControl($event)"
>

</app-pizzas-form>

<app-beverages-form></app-beverages-form>

<app-basket></app-basket>

<app-desserts-form></app-desserts-form>

<div>
  <p *ngIf="formPizza.errors">
    {{ formPizza.errors['notInTime'] }}
  </p>

  <p *ngIf="today === 'Tuesday'">
    OH MY MARDI!! Toutes les pizzas sont à {{ formPizza.value.selectedPizzas[0].pizzPriceTTC }} EUR !
  </p>
</div>
