input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  margin: 0 auto;
}

.buttonQuantity {
  display: flex;
  text-align: center;
  width: 15vw;
}

.header {
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 2vw 25vw;
  width: 50vw;

  .desserts {
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    width: 30vw;

    span {
      text-align: center;
      width: 6vw;
    }
  }

  .quantity {
    font-size: 1.5em;
    text-align: center;
    width: 15vw;
  }
}

label {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

input {
  width: 5vw;
  text-align: center;
}

form {
  margin: 0 auto;
  width: 50vw;
}

.formLine {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2vh 0;

}

.submitSection {
  width: 100%;

  .submitButton {
    clear: both;
    float: right;
    width: 15vw;
  }
}

// Media Queries //

@media screen and(max-width: 900px) {
  .header {
    margin: 0 auto 2vw auto;
    justify-content: space-around;
    width: 90vw;

    .desserts {
      font-size: 1em;
      width: 55vw;

      span {
        text-align: center;
        width: 10vw;
      }
    }

    .quantity {
      font-size: 1em;
      text-align: center;
      width: 20vw;
    }
  }

  .buttonQuantity {
    align-items: center;
    justify-content: center;
    width: 30vw;

    button {
      height: 3vh;
      padding: 0px 2vw;
    }

    input {
      font-size: 0.5em;
    }
  }

  label {
    align-items: center;
    font-size: 0.7em;
    width: 80vw;

    span {
      text-align: center;
      width: 20vw;
    }
  }

  form {
    margin: 0 auto 80vh auto;
    width: 90vw;

    .formLine {
      align-items: center;
      width: 90vw;
    }
  }

  .submitSection {
    width: 100%;

    .submitButton {
      clear: both;
      float: right;
      width: 45vw;
    }
  }
}


