<section>
    <ul>
      <li *ngFor="let order of listOfOrdersArchived; let i = index">
        <h1>
          Commande n°{{ order.idOrder }}<span> du {{ order.dateOrder | date : "dd/MM/yy à H'h'mm" }}</span><br>
          Total de la commande: {{ order.orderPrice }} EUR
        </h1>

        <h2>Informations client</h2>

        <h3>
          Nom : <span>{{ order.clientFirstName }}</span>
        </h3>

        <h3>
            Prénom: <span>{{ order.clientLastName }}</span>
        </h3>

        <h3>
            Téléphone: <span>{{ order.clientPhoneNumber }}</span>
        </h3>

        <h3>
            Mail: <span>{{ order.clientMail }}</span>
        </h3>

        <h3>Statut de la commande : {{ order.orderMessage }}</h3>
        <div *ngIf="order.orderMessage === 'Livraison'">
          <h4>
            Addresse de livraison: <span>{{ order.userDeliveryAddress }}</span><br>
          </h4>
        </div>

        <h4>
          Addresse de facturation: <span> {{ order.userAddressFacturation }}</span>
        </h4>

        <h4 *ngIf="order.pizza.length > 0">Liste des pizzas commandées</h4>

        <ul>
          <li *ngFor="let pizza of order.pizza">
            <h5>
              {{ pizza.pizzName }} <span>quantité : {{ pizza.pizzasQuantity }}</span>
            </h5>
          </li>
        </ul>

        <h4 *ngIf="order.salad.length > 0">Liste des salades composées commandées</h4>

        <ul>
          <li *ngFor="let salad of order.salad; let i = index">
            <h5>Salade composée n°{{ i + 1}}</h5>

            <p>Les bases</p>

            <ul>
              <li *ngFor="let base of salad.orderSaladsBases">
                {{ base.baseName }} <span>quantité : {{ base.baseQuantity }}</span>
              </li>
            </ul>

            <p>Les ingrédients</p>

            <ul>
              <li *ngFor="let ingredient of salad.orderSaladsIngredients">
                {{ ingredient.ingredientName }} <span>quantité : {{ ingredient.ingredientQuantity }}</span>
              </li>
            </ul>

            <p *ngIf="salad.orderSaladsToppings !== undefined">Les toppings</p>

            <ul>
              <li *ngFor="let topping of salad.orderSaladsToppings">
                {{ topping.toppingName }} <span>quantité : {{ topping.toppingQuantity }}</span>
              </li>
            </ul>

            <p>La sauce</p>

            <p>{{ salad.orderSaladsSauces }}</p>
          </li>
        </ul>

        <h4 *ngIf="order.beverage.length > 0">Liste des boissons commandées</h4>

        <ul>
          <li *ngFor="let beverage of order.beverage">
            <h5>
              {{ beverage.bevName }} <span>quantité : {{ beverage.bevQuantity }}</span>
            </h5>
          </li>
        </ul>

        <h4 *ngIf="order.dessert.length > 0">Liste des desserts commandés</h4>

        <ul>
          <li *ngFor="let dessert of order.dessert">
            <h5>
              {{ dessert.dessName }} <span>quantité : {{ dessert.dessQuantity }}</span>
            </h5>
          </li>
        </ul>

        <h4 *ngIf="order.menuPizza.length > 0">Liste des menus Pizzas commandés</h4>

        <ul>
          <li *ngFor="let menuPizza of order.menuPizza ; let i = index">
            <h5>Menu pizza n°{{ i + 1 }}</h5>

            <p>La pizza : {{ menuPizza.pizzName }}</p>

            <p>La boisson : {{ menuPizza.bevName }}</p>

            <p>Le dessert : {{ menuPizza.dessName }}</p>

            <p>Quantité : {{ menuPizza.menuQuantity }}</p>
          </li>
        </ul>

        <h4 *ngIf="order.menuSalad.length > 0">Liste des menus Salades commandés</h4>

        <ul>
            <li *ngFor="let menuSalad of order.menuSalad ; let i = index">
              <h5>Menu salade n°{{ i + 1 }}</h5>

              <p>La salade composée</p>

              <p>Les bases</p>

              <ul>
                <li *ngFor="let base of menuSalad.bases">
                  <p>
                    {{ base.baseName }} <span>quantité : {{ base.baseQuantity }}</span>
                  </p>
                </li>
              </ul>

              <p>Les ingrédients</p>

              <ul>
                <li *ngFor="let ingredient of menuSalad.ingredients">
                  <p>
                    {{ ingredient.ingredientName }} <span>quantité : {{ ingredient.ingredientQuantity }}</span>
                  </p>
                </li>
              </ul>

              <p *ngIf="menuSalad.toppings !== undefined">Les toppings</p>

              <ul>
                <li *ngFor="let topping of menuSalad.toppings">
                  <p>
                    {{ topping.toppingName }} <span>quantité : {{ topping.toppingQuantity }}</span>
                  </p>
                </li>
              </ul>

              <p>La sauce: {{ menuSalad.saladsSaucesName }}</p>

              <p>La boisson : {{ menuSalad.bevName }}</p>

              <p>Le dessert : {{ menuSalad.dessName }}</p>

              <p>Quantité : {{ menuSalad.menuQuantity }}</p>

              <p>Prix du menu complet : {{ menuSalad.menuSaladPrice }} EUR</p>
            </li>
          </ul>

          <button type="button" (click)="deleteOrder(i)">
            Supprimer cette commande
          </button>
      </li>
    </ul>
  </section>
