<form [formGroup="textFormPut">
  <label>
    <p>Nom de la tax à modifer</p>
    <input type="text"
      class="form-control"
      formControlName="taxName"
      required
    >
    <div *ngIf="FM.taxName.invalid && (FM.taxName.dirty || FM.taxName.touched)">
      <div *ngIf="FM.taxName.errors.required">
        <p class="invalidText">*Le nom de la tax est requis</p>
      </div>
      <div *ngIf="FM.taxName.errors.minlength">
        <p class="invalidText">*Le nom de la tax doit contenir au moins 5 caractères</p>
      </div>
      <div>
        <p class="invalidText">*Le nom de la tax ne doit pas dépasser les 45 caractères</p>
      </div>
    </div>
  </label>

  <label>
    <p>Multipicateur</p>
    <input type="text"
      class="form-control"
      formControlName="taxMultipliedBy"
      required
    >
    <div *ngIf="FM.taxMultipliedBy.invalid && (FM.taxMultipliedBy.dirty || FM.taxMultipliedBy.touched)">
      <div *ngIf="FM.taxMultipliedBy.errors.required">
        <p class="invalidText">*Le multipicateur est requis</p>
      </div>
      <div>
        <p class="invalidText">* le multiplicateur doit être inséré sous la forme X.XXX</p>
      </div>
    </div>
  </label>
</form>
<button type="submit" (click)="onSubmitPutForm()">MODIFIER LA TAX</button>
<p *ngFor="let dataTax of taxFormObject; let i = index;">{{ dataTax.idTaxName }} {{ dataTax.taxValue }}</p>

