#conteneur {
    border-color: #2d2c33;
    border-radius: 1%;
    border-style: solid;
    border-width: 5px;
    -webkit-box-shadow: 5px 5px 5px 0px #ffdc90;
    -moz-box-shadow: 5px 5px 5px 0px #ffdc90;
    box-shadow: 5px 5px 5px 0px #ffdc90;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

h1 {
    text-align: center;
    color: #ffdc90;
    text-shadow: 1px 1px #2d2c33;
}

.invalidText {
    color: red;
}

.ng-valid {
    border-left: 5px solid #42A948;
  }

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}